.head{
    display: flex;
    margin:auto;
}
.header{

   text-align:justify
    width: 1450px;
height: 400px;
flex-shrink: 0;
    background: rgba(229, 84, 115, 0.10)
    
}
.head-text{
    padding:60px 240px;
    

}
.heading-title{
    color: #272727;
font-family: Lato;

font-style: normal;
font-weight: 800;
line-height: normal;
}
.heading-image{
    padding-right: 300px;
   
    
}
.btn-title{
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 80px;
}


/* main section*/
.main-section-container{
    text-align: center;

    }  
 .main-section-paragraph{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
 }
    
.images-container
    {
        display: flex;
        text-align: center;
        padding-left: 450px;
        gap: 30px;

    }
    .images1{
        background: rgba(167, 33, 98, 0.15);
        border-radius: 300px 300px 0px 0px;

        
    }
    .images2{
        background: rgba(5, 151, 160, 0.15); 
        border-radius: 300px 300px 0px 0px;
    }
.images3{
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.flower-name{
    display: flex;
    
        padding-left: 450px;
        gap: 100px;

}
.hot-deals{
    text-align: center;
    padding-left: 150px;
    display: flex;
    margin: auto; 
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    gap: 90px;
}
.hot-deals-title{
    padding-top: 90px;
   
}
.sign-up{
 
    border-radius: 8px;
background: #E55473;
}
.off{
    color: #E55473;
}


